<footer class="page-footer indigo lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text"> </h5>
        <p class="grey-text text-lighten-4">Cola Makerspace is an organization designed to foster a collaborative and educational environment in which people can explore, share and MAKE!</p>
      </div>
      <div class="col l3 s12">
        <h5>Visit us at</h5>
        <address>
          4808 Colonial Dr<br/>
          Columbia, SC 29203
        </address>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Contact</h5>
        <h6>General Information:</h6>
        <a href="mailto:info@colamakerspace.com" class="orange-text text-lighten-3">info@colamakerspace.com</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div>
        <span class="social-media">
          <a href="https://www.facebook.com/colamakerspace/"><i class="fa fa-facebook-square"></i></a>
          <a href="https://twitter.com/search?q=%23colamakerspace"><i class="fa fa-twitter-square"></i></a>
          <a href="https://www.instagram.com/explore/tags/colamakerspace/"><i class="fa fa-instagram"></i></a>
          <a href="https://www.reddit.com/r/colamakerspace/"><i class="fa fa-reddit-square"></i></a>
          <a href="https://github.com/colamakerspace"><i class="fa fa-github-square"></i></a>
        </span>
        <span class="copyrights">
          CSS by <a target="_blank" class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          Hosted by <a target="_blank" href="https://github.com/ColaMakerspace/ColaMakerspace.github.io" class="orange-text text-lighten-3">Github Pages</a>
        </span>
      </div>
    </div>
  </div>
</footer>